# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Production build outputs
dist/
build/
**/dist/
**/build/

# Temporary DB journals
*.db-journal
**/*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
**/*.log

# Editor / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
